<div ng-controller="editPaperController" style="text-align: center">
    <div class="container col-xs-offset-1">
        <div class="row">
            <div class="col-xs-1 control-label">
                论文编号:
            </div>
            <div class="col-xs-2 ">
                <input type="text" class="form-control" ng-model="paper.paperid">
            </div>
            <div class="col-xs-1 control-label">
                论文题目:
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="paper.title">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 control-label">
                发表日期:
            </div>
            <div class="col-xs-2 ">
                <input type="date" class="form-control" ng-model="paper.pubdate">
            </div>
            <div class="col-xs-1 control-label">
                起始页:
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="paper.spage">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 control-label">
                终止页:
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="paper.tpage">
            </div>
            <div class="col-xs-1 control-label">
                第一作者:
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="paper.fauthor">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 control-label">
                收录情况:
            </div>
            <div class="col-xs-2">
                <!--<select ng-model="paper.included" class="form-control">-->
                    <!--<option ng-repeat="v in included" ng-selected="v.codeid == paper.included" value="{{v.codeid}}">-->
                        <!--{{v.content}}-->
                    <!--</option>-->
                <!--</select>-->
                <input type="text" class="form-control" ng-model="paper.included">
            </div>
            <div class="col-xs-1 control-label">
                是否为CCF:
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="paper.isccf">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 control-label">
                CCF等级:
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="paper.ccflevel">
            </div>
            <div class="col-xs-1 control-label">
                是否为会议论文:
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="paper.isconference">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-2">
                <button class="btn btn-primary" onClick="javascript :history.back(-1);">返回上页</button>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-primary" ng-click="updatePaperInfo()">保存修改</button>
            </div>
        </div>

    </div>
</div>