<!-- 我发表的论文右侧 -->
<div ng-controller="stu_showPaperInfoController">
    <div>
        <!--如果有发表文章内容-->
        <div class="container">
            <!-- 搜索栏 -->
            <div class="row form-inline">
                <div class="col-xs-offset-1 col-xs-5">
                    成果形式：
                    <select ng-model="search.isconference" class="form-control">
                        <option value="">选择要搜索的类型</option>
                        <option value="1">会议</option>
                        <option value="2">期刊</option>
                    </select>
                </div>
                <div class="col-xs-5">
                    论文名称：<input type="text" class="form-control" placeholder="输入搜索内容：" ng-model="search.title">
                    <!--                      <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Go!</button>
                                          </span>-->
                </div>
                <!-- /input-group -->
            </div><!--搜索栏结束-->

            <div class="row form-inline">
                <div class="col-xs-offset-1 col-xs-5">
                    出版社名称：<input type="text" class="form-control" placeholder="输入搜索内容："
                                 ng-model="search.publish">
                </div>
                <div class="col-xs-5">
                    出版日期：<input type="text" class="form-control" placeholder="输入搜索内容："
                                ng-model="search.pubdate">
                </div>
            </div>

            <!-- show paper info -->
            <div class="col-xs-10">
                <table class="table table-bordered table-hover" style="text-align: center;border: 2px solid #c8c9e8;">
                    <tbody>
                        <tr>
                            <td colspan='7'>
                                <a ui-sref="stu.addPaper" class="btn btn-sm btn-primary">添加</a>
                                <a class="btn btn-sm btn-primary">导出</a>
                            </td>
                        </tr>
                    </tbody>

                    <tbody  class="paperHeaderStyle">
                        <tr>
                            <td width="3%">序号</td>
                            <td width="8%">类型</td>
                            <td width="27%">论文名称</td>
                            <td width="10%">通讯作者</td>
                            <td width="30%">出版社或刊物名称</td>
                            <td width="12%">出版日期</td>
                            <td width="15%">操作</td>
                        </tr>
                    </tbody>

                    <tbody class="paperContentStyle">
                        <tr ng-repeat="paper in paperInfo | filter:search">
                            <td>{{ $index + 1 }}</td>
                            <td>
                                <p ng-show="paper.isconference == '1' ">会议</p>
                                <p ng-show="paper.isconference == '2' ">期刊</p>
                            </td>
                            <td><a href="#/stu/showPaper/{{paper.paperid}}" >{{ paper.title }}</a></td>
                            <td>{{ paper.cauthor }}</td>
                            <td>
                                {{ paper.publish }},{{paper.column}}({{paper.issue}}):{{paper.spage}}-{{paper.tpage}},
                                {{paper.pubdate | date:'MMM.yyyy'}}
                            </td>
                            <td>{{ paper.pubdate | date:'yyyy-MM-dd' }}</td>
                            <td>
                                <a href="#/stu/editPaper/{{paper.paperid}}" >编辑</a>
                                <a href ng-click="deletePaper(paper.paperid)">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div><!-- /.container -->

        <!--如果没有发文章-->
        <div ng-show="!paperInfo && errMsg" class="row">
            <div class="col-xs-offset-3 col-xs-11 text-center text-info">
                <h2>{{ errMsg }}</h2>
            </div>
        </div>
        <!--加载中-->
        <div ng-show="!paperInfo && !errMsg" class="row">
            <div class="col-xs-offset-3 col-xs-11 text-center text-info">
                <h2>加载中...</h2>
            </div>
        </div>

        <my-pagination conf="paginationConf" load-data=""></my-pagination>
    </div>
</div>



