<div ng-controller="stuController">
    <header class="navbar">
        <div class="container">
            <div class="col-xs-8 text-info">
                <h2>SDE管理系统</h2>
            </div>
            <div class="col-xs-4" style="margin-top: 20px">
                <h4 class="text-warning">{{ user.name }},welcome to the home!
                    <a ng-click="logout()" href style="margin-left:15px">登出</a>
                </h4>
            </div>
        </div>
    </header>

    <!-- 左侧div -->
    <div class="col-xs-3" style="width: 13%;padding-top: 10px">
        <ul class="nav nav-pills nav-stacked">
            <li name='myli' ui-sref-active="active" ng-if=" user.levels >= 1 " ui-sref-opt="{reload:true}">
                <!--如果视图加载 则显示class为active
                    或者用 ng-class="{'active': $state.includes('stuHome.page2')}"
                -->
                <a ui-sref="stu.showMyPaper">我发表的论文</a>
            </li>
            <li name='myli' ui-sref-active="active" ng-if=" user.levels >= 2 ">
                <a ui-sref="stu.showMyProject">我的项目</a>
            </li>
            <li name='myli' ui-sref-active="active" ng-if=" user.levels == 1">
                <a ui-sref="stu.myInfo">我的信息</a>
            </li>
            <li name='myli' ui-sref-active="active" ng-if=" user.levels >= 1">
                <a ui-sref="stu.changePwd">修改密码</a>
            </li>
            <li name='myli' ui-sref-active="active" ng-if=" user.levels == 3">
                <a ui-sref="stu.showAllPaper">查看所有论文</a>
            </li>
            <li name='myli' ui-sref-active="active" ng-if=" user.levels == 3">
                <a ui-sref="stu.showAllProject">查看所有项目</a>
            </li>
            <li name='myli' ui-sref-active="active" ng-if=" user.levels == 3">
                <a ui-sref="stu.showAllUserInfo">管理所有用户</a>
            </li>
        </ul>
    </div>

    <!-- 右侧div -->
    <div class="col-xs-8" ui-view="stuRight"></div>
</div>

