body{
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

a:hover{
    text-decoration: none;
}

.navbar {
    background: #fff;
    border-bottom: solid #e9e9e9 1px;
    box-shadow: 0 5px 5px #f2f2f2;
    padding-bottom: 20px;
}

.paperHeaderStyle{
    text-align: center;
    font-size: 18px;
    line-height: 1.0;
    font-weight: 500;
    color: #1B809E;
    background-color: #f9f9f9;
}
.paperContentStyle {
    font-size: 14px;
}

#paperStyle {
    padding-top: 10px;
    text-align: center;
    font-weight: 400;
}

.control-label {
    padding-top: 5px;
}

.row {
    padding-top: 10px;
}

.paperContentStyle input {
    height: 25px;
}
/*
input.ng-invalid {
    border: 1px solid red;
}
input.ng-valid{
    border: 1px solid green;
}*/
