body{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

a:hover{
    text-decoration: none;
}

.navbar {
    background: #fff;
    border-bottom: solid #e9e9e9 1px;
    box-shadow: 0 5px 5px #f2f2f2;
    padding-bottom: 20px;
}

.paperHeaderStyle{
    text-align: center;
    font-size: 18px;
    line-height: 1.0;
    font-weight: 500;
    color: #1B809E;
    background-color: #f9f9f9;
}
.paperContentStyle {
    font-size: 14px;
}
.paperContentStyle input,.paperContentStyle select {
    height: 26px;
}

#paperStyle {
    padding-top: 10px;
    text-align: center;
    font-weight: 400;
}

.control-label {
    padding-top: 5px;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

table td{
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    border: 2px solid #c8c9e8;
}
tbody>tr>td {
    height: 26px;
    vertical-align: middle;
}

@keyframes myfirst
{
    from {background:red;}
    to {background:yellow;}
}

.myInput {
    border-radius: 4px
}

/*.animate-enter {
    -webkit-transition: 1s linear all; /!* Chrome *!/
    transition: 1s linear all;
    opacity: 0;
}
.animate-enter.animate-enter-active {
    opacity: 1;
}*/
/*
input.ng-invalid {
    border: 1px solid red;
}
input.ng-valid{
    border: 1px solid green;
}*/
/* rotate and fall */