<legend><h2>用户登陆</h2></legend>
<div ng-controller="loginController">
    <div class="alert alert-danger" ng-show="errMsg">
        {{ errMsg }}
    </div>
    <div class="container-fluid">
        <form name="loginForm" role="form" ng-submit="clickLogin(user)">
        <div class="well" >
            <div class="row form-group">
                <label class="col-xs-offset-3 col-xs-1 control-label">用户名：</label>
                <div class="col-xs-4">
                    <input class="form-control" type="text" required ng-model="user.sid" placeholder="输入用户名">
                </div>
            </div>
            <div class="row form-group">
                <label class="col-xs-offset-3 col-xs-1 control-label">密码：</label>
                <div class="col-xs-4">
                    <input  class="form-control" type="password" required ng-model="user.password"  placeholder="输入密码"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-offset-4 col-xs-4">
                    <input class="btn btn-primary" ng-disabled="loginForm.$invalid" type="submit" value="登录" >
                </div>
            </div>
        </div>
        </form>
    </div>
    <!--test-->
    <!--<div ng-init="test = false ">-->
        <!--<div ng-repeat="person in list">-->
            <!--<input type="text" ng-model="person.name" /> <input type="input" ng-model="person.age" />-->
            <!--<a ng-show="$index!=0" style="color:red;" ng-click="del($index)">移除</a>-->
        <!--</div>-->
        <!--<a ng-click="add()">增加一个</a>-->
    <!--</div>-->
    <!--<button ng-click="test = !test ">toggle</button>-->
    <!--<div class="testAnimate" ng-show="test">-->
        <!--Animate test-->

    <!--</div>-->

    <!--<div>-->
        <!--<div class="form-group">-->
            <!--<label for="dtp_input2" class="col-md-2 control-label">Date Picking</label>-->
            <!--<div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">-->
                <!--<input class="form-control" size="16" type="text" value="" readonly>-->
                <!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
                <!--<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>-->
            <!--</div>-->
            <!--<input type="hidden" id="dtp_input2" value="" /><br/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<script type="text/javascript" src="./public/js/bootstrap-plugin/bootstrap-datetimepicker.js" charset="UTF-8"></script>-->
    <!--<script type="text/javascript" src="./public/js/bootstrap-plugin/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>-->
    <!--<script type="text/javascript">-->
        <!--$('.form_date').datetimepicker({-->
            <!--language:  'zh-CN',-->
            <!--weekStart: 1,-->
            <!--todayBtn:  1,-->
            <!--autoclose: 1,-->
            <!--todayHighlight: 1,-->
            <!--startView: 2,-->
            <!--minView: 2,-->
            <!--forceParse: 0-->
        <!--});-->
    <!--</script>-->
</div>





