
                <table class="table table-bordered" style="text-align: center" cellspacing="0" cellpadding="0">
                    <thead class="paperHeaderStyle">
                    <tr>
                        <td colspan="5">人员信息查询</td>
                    </tr>
                    </thead>
                    <tbody class="paperContentStyle">
                    <tr>
                        <td width="10%">姓名</td>
                        <td width="30%"><input name="userName" ng-model="users.name" class="form-control" type="text" /></td>
                        <td width="10%">编号</td>
                        <td width="30%"><input name="userID" ng-model="users.id" class="form-control" type="text" /></td>
                        <td width="20%">
                            <button class="btn btn-primary btn-sm" ng-click="queryFun({users:users})">查询</button>
                        </td>
                    </tr>
                    </tbody>
                    <tbody class="paperContentStyle" style="font-size: 13px;">
                    <tr>
                        <td colspan="2" width="45%">姓名</td>
                        <td colspan="3" width="55%">ID</td>
                    </tr>
                    <tr ng-repeat="person in myData">
                        <td colspan="2" width="45%"><a href ng-click="transFun({person:person})" data-dismiss="modal">{{ person.name }}</a></td>
                        <td colspan="3" width="55%">{{ person.id }}</td>
                    </tr>
                    <tr ng-show="!myData">
                        <td colspan="5"><p style="font-size: 16px" class="alert-danger">{{error}}</p></td>
                    </tr>
                    </tbody>
                </table>

