<div ng-controller="addProjectController">
    <form  role="form" name="addProjectForm">
    <div class="container">
        <div class="col-xs-10">
            <table class="table table-bordered" style="border: 2px solid #c8c9e8;">
                <thead class="paperHeaderStyle">
                    <tr>
                        <td colspan="2">项目信息添加</td>
                    </tr>
                </thead>

                <tbody class="paperContentStyle">
                    <tr>
                        <td style="text-align: center;" width="30%"><span style="color: red">*</span>项目标题：</td>
                        <td width="70%">
                            <input ng-model="project.projectname" class="form-control" style="width: 50%"  maxlength="50" type="text" required />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>归属作者信息：</td>
                        <td class="form-inline">
                            <div>
                                <input ng-model="paper.chargeAuthorInfo.authorname" class="form-control"
                                       style="background-color: #ffffb5;width: 150px" type="text" required readonly />
                                <input ng-model="paper.chargeAuthorInfo.authorid" class="form-control"
                                       style="background-color: #ffffb5;width: 150px" type="text" required readonly />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">项目英文标注名称：</td>
                        <td>
                            <input ng-model="project.projectlabel" class="form-control" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>项目财务编号：</td>
                        <td>
                            <input style="width: 50%;border-radius: 4px" ng-model="project.projectidfin" required>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">项目类型：</td>
                        <td>
                            <select ng-model="project.type" style="width: 20%;border-radius: 4px">
                                <option value="" selected>选择ccf级别</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>项目立项日期--项目结题日期：</td>
                        <td >
                            <input ng-model="project.estdate" type="date" class="myInput" style="width: 20%;text-align: center" >
                            --
                            <input ng-model="project.knotdate " type="date" class="myInput" style="width: 20%;text-align: center" >
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>项目经费：</td>
                        <td>
                            <input ng-model="project.funding" type="number" style="width: 50%;border-radius: 4px">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>录用期刊或者会议名称：</td>
                        <td>
                            <input type="text" class="form-control" style="width: 60%" ng-model="paper.publish">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>发表时间：</td>
                        <td><!--时间控件-->
                            <div>
                                <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd"
                                     data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" size="16" ng-model="paper.pubdate" type="text" required readonly />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <!--选择不同的类型 会议 or 期刊-->
                        <td style="text-align: center;"><span style="color: red">*</span>期刊或者会议：</td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" style="margin-top: 0" ng-model="paper.isconference" name="isConference" value="1">会议
                            </label>
                            <label class="radio-inline">
                                <input type="radio" style="margin-top: 0" ng-model="paper.isconference" name="isConference" value="2" >期刊
                            </label>
                        </td>
                    </tr>
                </tbody>
                <!--如果 不是 会议则显示下列-->
                <tbody ng-show="paper.isconference == 2" class="paperContentStyle sample-show-hide">
                    <tr>
                        <td style="text-align: center;">期刊专用：</td>
                        <td>
                            <div class="form-inline">
                                第<input ng-model="paper.column" style="text-align: center;width: 15%" type="text" class="form-control" />卷，
                                第<input ng-model="paper.issue" style="text-align: center;width: 15%" type="text" class="form-control" />期
                            </div>
                        </td>
                    </tr>
                </tbody>
                <!--公共显示-->
                <tbody class="paperContentStyle">
                    <tr>
                        <td style="text-align: center;">起始页--结束页：</td>
                        <td>
                            <div class="form-inline">
                                <input ng-model="paper.spage" style="text-align: center;width: 15%" type="number" class="myInput" />
                                --
                                <input ng-model="paper.tpage" style="text-align: center;width: 15%" type="number" class="myInput" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">字数：</td>
                        <td class="form-inline">
                            <input type="number" ng-model="paper.wordcount" class="myInput" style="width: 15%;text-align: center">
                            千字
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">费用：</td>
                        <td class="form-inline">
                            <select style="width: 20%;border-radius: 4px"
                                    ng-model="paper.currency" ng-options="code.codeid as code.content for code in currency">
                            </select>
                            <input class="myInput" style="width: 30%;text-align: center" type="number" ng-model="paper.fee" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">版面费支付方式：</td>
                        <td class="form-inline">
                            <select style="width: 40%;border-radius: 4px"
                                    ng-model="paper.modeofpayment" ng-options="code.codeid as code.content for code in modeofpayment">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">版面费付款日期：</td>
                        <td><!--时间控件-->
                            <div>
                                <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd"
                                     data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" size="16" ng-model="paper.paymentDate" type="text" readonly />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input3" value="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;vertical-align: middle">备注：</td>
                        <td>
                            <textarea ng-model="paper.comment" class="form-control" rows="3" maxlength="100"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <a href onclick="javascript :history.back(-1);" class="btn btn-sm btn-primary">返回上一页</a>
                            <input ng-disabled="addPaperForm.$invalid" class="btn btn-sm btn-primary" type="button"
                                   ng-click="nextPage()" value="下一步">
                            <input type="button" class="btn btn-default" ng-click="getVar()" value="获取变量"/>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </form>

    <!--获取作者的Modal-->
    <div class="modal fade selectAuthor" id="selectAuthor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">作者查询</h4>
                </div>
                <div class="modal-body">
                    <select-sth trans-fun="transAuthor(person)" query-fun="queryUserInfoByNameOrID(users)" my-data="userList" error="errorMsg">
                    </select-sth>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div><!--modal结束-->
</div>

<!--时间控件-->
<script type="text/javascript" src="/public/js/bootstrap-plugin/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/public/js/bootstrap-plugin/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>