<div ng-controller="editProjectController">
    <form role="form" name="editProjectForm">
    <div class="container">
        <div class="col-xs-10">
            <table class="table table-bordered" style="border: 2px solid #c8c9e8;">
                <thead class="paperHeaderStyle">
                    <tr>
                        <td colspan="2">项目信息修改</td>
                    </tr>
                </thead>

                <tbody class="paperContentStyle">
                    <tr>
                        <td style="text-align: center;width:30%"><span style="color: red">*</span>项目标题：</td>
                        <td width="70%">
                            <input ng-model="project.projectname" class="form-control" style="width: 60%"  maxlength="50" type="text" required />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>项目负责人：</td>
                        <td class="form-inline">
                            <div>
                                <input ng-model="project.projectchargename" class="form-control"
                                       style="background-color: #ffffb5;width: 150px" type="text" required readonly />
                                <input ng-model="project.projectchargeid" class="form-control"
                                       style="background-color: #ffffb5;width: 150px" type="text" required readonly />
                                <a href type="button" data-toggle="modal" data-target=".selectProjectCharge">
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">项目英文标注名称：</td>
                        <td>
                            <input ng-model="project.projectlabel" class="form-control" type="text" style="width: 60%">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>项目财务编号：</td>
                        <td>
                            <input ng-model="project.projectidfin" class="form-control" style="width: 60%" required>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">项目类型：</td>
                        <td>
                            <select style="width: 40%;border-radius: 4px"
                                    ng-model="project.projecttype" ng-options="code.codeid as code.content for code in projectType">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>项目立项日期：</td>
                        <td>
                            <div>
                                <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd"
                                     data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" size="13" ng-model="project.estdate" type="text" required readonly />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <input type="hidden" id="addProject_input1" value="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>项目结题日期：</td>
                        <td>
                            <div>
                                <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd"
                                     data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" size="13" ng-model="project.knotdate" type="text" required readonly />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <input type="hidden" id="addProject_input2" value="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>项目经费：</td>
                        <td>
                            <input ng-model="project.funding" type="number"
                                   style="width: 20%;border-radius: 4px;text-align: center" required>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>项目需要论文数量：</td>
                        <td>
                            <input ng-model="project.papernum" type="number"
                                   style="width: 20%;border-radius: 4px;text-align: center" required>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;vertical-align: middle">项目需要论文说明：</td>
                        <td><!--时间控件-->
                            <textarea ng-model="project.papercomment" class="form-control" rows="3" maxlength="150">
                            </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>项目需要专利数量：</td>
                        <td>
                            <input ng-model="project.patentnum" type="number"
                                   style="width: 20%;border-radius: 4px;text-align: center" required>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>项目已完成专利数量：</td>
                        <td>
                            <input ng-model="project.lpatentnum" type="number"
                                   style="width: 20%;border-radius: 4px;text-align: center" required>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>项目需要软件著作权数量：</td>
                        <td>
                            <input ng-model="project.copyrightnum" type="number"
                                   style="width: 20%;border-radius: 4px;text-align: center" required>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span style="color: red">*</span>项目已完成软件著作权数量：</td>
                        <td>
                            <input ng-model="project.lcopyrightnum" type="number"
                                   style="width: 20%;border-radius: 4px;text-align: center" required>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;vertical-align: middle">项目验收需要的其他条件：</td>
                        <td>
                            <textarea ng-model="project.others" class="form-control" rows="3" maxlength="150"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;vertical-align: middle">项目备注：</td>
                        <td>
                            <textarea ng-model="project.comment" class="form-control" rows="3" maxlength="150"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <a href onclick="javascript :history.back(-1);" class="btn btn-sm btn-primary">返回上一页</a>
                            <input ng-disabled="editProjectForm.$invalid || !editProjectForm.$dirty " class="btn btn-sm btn-primary" type="button"
                                   ng-click="editProject(project)" value="确认修改项目">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </form>

    <!--获取作者的Modal-->
    <div class="modal fade selectProjectCharge" id="selectProjectCharge" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">作者查询</h4>
                </div>
                <div class="modal-body">
                    <select-sth trans-fun="transProjectCharge(person)" query-fun="queryUserInfoByNameOrID(users)" my-data="userList" error="errorMsg">
                    </select-sth>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div><!--modal结束-->
</div>

<!--时间控件-->
<script type="text/javascript" src="/public/js/bootstrap-plugin/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/public/js/bootstrap-plugin/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>