<!-- 我发表的论文右侧 -->
<div ng-controller="showAllPaperInfoController">
    <div class="container">
        <!-- 搜索栏 -->
        <div class="row form-inline">
            <div class="input-group col-xs-offset-6 col-xs-3" style="padding-top: 16px">
                <input type="text" class="form-control" placeholder="输入搜索内容：" ng-model="searchText">
            </div>
        </div><!--搜索栏结束-->
        <!-- show paper info -->
        <div class="col-xs-10">
            <table class="table table-bordered table-hover" style="text-align: center;border: 2px solid #c8c9e8;">
                <tbody>
                <tr>
                    <td colspan='7'>
                        <!--<a ng-click="queryAllPaper()" class="btn btn-sm btn-primary">查询</a>-->
                        <!--<a ui-sref="stu.addPaper" class="btn btn-sm btn-primary">添加</a>-->
                        <!--<a class="btn btn-sm btn-primary">导出</a>-->
                    </td>
                </tr>
                </tbody>

                <tbody class="paperHeaderStyle">
                <tr>
                    <td width="5%">序号</td>
                    <td width="8%">类型</td>
                    <td width="30%">论文名称</td>
                    <td width="12%">通讯作者</td>
                    <td width="25%">出版社或刊物名称</td>
                    <td width="10">出版日期</td>
                    <!--<td width="12%">出版日期</td>-->
                    <td width="10%">操作</td>
                </tr>
                </tbody>

                <tbody class="paperContentStyle">
                <tr ng-repeat="paper in paperInfo  | filter:searchText">
                    <td>{{ $index + 1 }}</td>
                    <td>
                        <p ng-show="paper.isconference == '1' ">会议</p>
                        <p ng-show="paper.isconference == '2' ">期刊</p>
                    </td>
                    <td><a href="#/stu/showPaper/{{paper.paperid}}">{{ paper.title }}</a></td>
                    <td>{{ paper.cauthor }}</td>
                    <td>
                        {{ paper.publish }}<!--,{{paper.column}}({{paper.issue}}):{{paper.spage}}-{{paper.tpage}},
                                {{paper.pubdate | date:'MMM.yyyy'}}-->
                    </td>
                    <td>{{ paper.pubdate | date:'yyyy-MM-dd' }}</td>
                    <td>
                        <a href ng-click="getReference(paper)" data-toggle="modal"
                           data-target=".getReference">引用</a>
                        <!--<a href ng-click="deletePaper(paper.paperid)">删除</a>-->
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <!--分页部分-->
        <myPagination conf="paginationConf" load-data="load()"></myPagination>
    </div><!-- /.container -->
    <!--获取作者的Modal-->
    <div class="modal fade getReference" id="getReference" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">引用</h4>
                </div>
                <div class="modal-body" id="paperReference">
                    <div onmouseup="selectText()">
                        <span ng-repeat="author in reference.authors">
                        {{ author.authorname }}<span ng-if="author.station == '0' " style="color: red">*</span>,
                        </span>
                        {{ reference.title }},{{ reference.publish
                        }},{{reference.column}}({{reference.issue}}):{{reference.spage}}-{{reference.tpage}},
                        {{reference.pubdate | date:'MMM.yyyy'}}
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal结束-->
</div>
<script type="text/javascript">
    /*选择div里面的内容，方便复制*/
    function selectText() {
        var text = document.getElementById("paperReference");
        if (document.body.createTextRange) {
            var range = document.body.createTextRange();
            range.moveToElementText(text);
            range.select();
        } else if (window.getSelection) {
            var selection = window.getSelection();
            var range = document.createRange();
            range.selectNodeContents(text);
            selection.removeAllRanges();
            selection.addRange(range);
            /*if(selection.setBaseAndExtent){
             selection.setBaseAndExtent(text, 0, text, 1);
             }*/
        } else {
            alert("none");
        }
    }
</script>



